@model PWEB.Models.Veiculo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Veiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lugares)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lugares)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MudançasManuais)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MudançasManuais)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreçoPorHora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreçoPorHora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localização)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localização)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disponivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disponivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eliminar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eliminar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.empresa.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
