@model IEnumerable<PWEB.Models.Recolha>

@{
    ViewData["Title"] = "Index";
}

<h1>Gestão de Recolhas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kilometros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Danos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaçoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empregado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Images)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kilometros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Danos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaçoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empregado.Email)
            </td>
                @{
                    if (item.Images != null)
                    {
                        foreach (var img in item.Images)
                        {
                            <td>
                                @Html.Encode(img)
                            </td>
                        }
                    }
                }
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
